In [96]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from math import sqrt
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [97]:
# First load the sample
pd.set_option('display.max_columns', None)
HH_Public = pd.read_csv("./data/assignment1/HH_Public.csv")
LINKED_Public = pd.read_csv("./data/assignment1/LINKED_Public.csv")
PLACE_Public = pd.read_csv("./data/assignment1/PLACE_Public.csv")
UNLINKED_Public = pd.read_csv("./data/assignment1/UNLINKED_Public.csv")
VEH_Public = pd.read_csv("./data/assignment1/VEH_Public.csv")
PER_Public = pd.read_csv("./data/assignment1/PER_Public.csv",sep=",", encoding='cp1252')
df_tracts= gpd.read_file('./data/assignment1/2010 Census Tracts/geo_export_510d517f-bf5f-4f5f-95a5-8c1bcbeb8109.shp')

In [98]:
LINKED_Public.head()

,PLSAM,SAMPN,PERNO,PLANO,PERTYPE,ORIG_HOME,GTYPE,HHSIZE,DEST_HOME,LTRIPNO,TOUR_ID,SUBT_ID,DTYPE,TOUR_PURP,DOW,HTAZ,HTRACT,OTAZ,DTAZ,NO_TAZ,OTPURP,DTPURP,OTPURP_AGG,DTPURP_AGG,DTPURP2,LTMODE_AGG,MODE_SAMP,TOTTR,HHMEM,PER1,PER2,PER3,PER4,PER5,NONHH,VEHNO,DYGOV,PLOC,PRKTY,PAYPK,PKAMT,PKUNT,TOLFT,TLONB,TLFC1,TOPN1,TOLE1,TOLX1,TLLC1,TLFR1,TLFC2,TOPN2,TOLE2,TOLX2,TLLC2,TLFR2,TLFC3,TOPN3,TOLE3,TOLX3,TLLC3,TLFR3,O_TLFR3,ROUTE,SERVC,FARE,FAREC,BUSPS,MTABP,BPFAR,FRBAS,TRP_DEP_HR,TRP_DEP_MIN,TRP_ARR_HR,TRP_ARR_MIN,TRPDUR,ACTDUR,TRIPDIST,TRPDIST_HN,TRPDUR_HN,OTRACT,DTRACT,OMCD,DMCD,OZIP,DZIP,UNIQUEID2,UNIQUEID3,UNIQUEID4,HH1,HH_WHT2,TOURFAC,WHT_FAC3,WHT_FAC3_VOCC,HCOUNTY,HCITY_MCD,HSTATE,HZIP,HNYC,HMPO,ONYC,OMPO,DNYC,DMPO,GEO_GROUP1,GEO_GROUP2,GEO_GROUP3,GEO_GROUP1_O,GEO_GROUP2_O,GEO_GROUP3_O,GEO_GROUP1_D,GEO_GROUP2_D,GEO_GROUP3_D,ADJ_COUNTY,OCOUNTY,DCOUNTY,PMODE,PMODE1,PAMODE,PMODE_R,PMODE_R2,PMODE_R3,WORK_PURP,DTPURP_R,ODTPURP,ODTPURP1,ODTPURP2,ODTPURP2_R,WORKTRIP,TOD_R,TOD_R1,TOD_PEAK,TOTTR_R,TRPDUR_R,TRIPDIST_R1,TRIPDIST_R2,HHSIZ_R,INCOM_R,HHVEH_R
0,30000560102,3000056,1,2,2,1,2,6,0,1,1,0,1.0,9,3,2626,9001205100,2626,2627,0,3,24,0,9,0,1.0,9.0,1,0,,,,,,0,2,1,1,1,2,,,2,0,,,,,,,,,,,,,,,,,,,,,,,,,,,,7,29.0,7,36.0,7,59,1.17447,2.81,6.69,9001205100,9001205200,900108980,900108992,6804,6804,3000056010101,30000560101,300005601010,1510.0,1846.72807,1.156645,2136.008377,2136.008377,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,6,4,3,1,9001,9001,19,11,,1,1,1,2,3,3,3,4,3,2,1,1,1,1,1,2,3,4,3,3
1,30000560103,3000056,1,3,2,0,2,6,1,2,1,0,3.0,9,3,2626,9001205100,2627,2626,0,24,3,9,0,0,1.0,9.0,1,0,,,,,,0,2,,,,,,,2,0,,,,,,,,,,,,,,,,,,,,,,,,,,,,8,35.0,8,42.0,7,235,1.17447,2.81,6.71,9001205200,9001205100,900108980,900108992,6804,6804,3000056010102,30000560101,300005601010,1510.0,1846.72807,1.156645,2136.008377,2136.008377,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,6,4,3,1,9001,9001,19,11,,1,1,1,2,0,6,10,4,3,2,1,1,1,1,1,2,3,4,3,3
2,30000560104,3000056,1,4,2,1,2,6,0,1,2,0,1.0,1,3,2626,9001205100,2626,2627,0,3,9,0,1,0,1.0,9.0,1,0,,,,,,0,2,1,1,1,2,,,2,0,,,,,,,,,,,,,,,,,,,,,,,,,,,,12,37.0,12,45.0,8,152,1.17447,2.81,6.69,9001205100,9001205200,900108980,900108992,6804,6804,3000056010201,30000560102,300005601020,1510.0,1846.72807,0.732451,1352.636918,1352.636918,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,6,4,3,1,9001,9001,19,11,,1,1,1,1,1,1,1,1,1,1,2,2,0,1,1,2,3,4,3,3
3,30000560105,3000056,1,5,2,0,2,6,1,2,2,0,3.0,1,3,2626,9001205100,2627,2626,0,9,3,1,0,0,2.1,9.0,2,1,5,,,,,0,2,,,,,,,2,0,,,,,,,,,,,,,,,,,,,,,,,,,,,,15,17.0,15,24.0,7,176,1.17447,2.81,6.71,9001205200,9001205100,900108980,900108992,6804,6804,3000056010202,30000560102,300005601020,1510.0,1846.72807,0.732451,1352.636918,676.318459,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,6,4,3,1,9001,9001,19,11,,1,1,1,1,0,4,8,1,1,1,2,2,0,2,1,2,3,4,3,3
4,30000560106,3000056,1,6,2,1,2,6,0,1,3,0,1.0,9,3,2626,9001205100,2626,2628,0,3,25,0,9,0,2.1,9.0,3,2,5,6,,,,0,2,1,1,1,2,,,2,0,,,,,,,,,,,,,,,,,,,,,,,,,,,,18,20.0,18,29.0,9,36,1.00992,3.47,8.62,9001205100,9001205300,900108980,900108992,6804,6804,3000056010301,30000560103,300005601030,1510.0,1846.72807,1.126987,2081.238932,693.746311,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,6,4,3,1,9001,9001,19,11,,1,1,1,2,3,3,3,4,3,2,3,3,1,3,1,2,3,4,3,3

In [99]:
UNLINKED_Public.head()

,PLSAM,SAMPN,PERNO,PLANO,ORIG_HOME,GTYPE,HHSIZE,DHOME,TRIPNO,LTRIPNO,LINKFLAG,TOUR_ID,DOW,HTAZ,HTRACT,OTAZ,DTAZ,No_TAZ,OTPURP,DTPURP,OTPURP_AGG,DTPURP_AGG,DTPUR2,ULTMODE,LTMODE_AGG,MODE_SAMP,TOTTR,HHMEM,PER1,PER2,PER3,PER4,PER5,NONHH,VEHNO,DYGOV,PLOC,PRKTY,PAYPK,PKAMT,PKUNT,TOLFT,TLONB,TLFC1,TOPN1,TOLE1,TOLX1,TLLC1,TLFR1,TLFC2,TOPN2,TOLE2,TOLX2,TLLC2,TLFR2,TLFC3,TOPN3,TOLE3,TOLX3,TLLC3,TLFR3,O_TLFR3,ROUTE,SERVC,FARE,FAREC,BUSPS,MTABP,BPFAR,FRBAS,TRP_DEP_HR,TRP_ARR_HR,TRP_DEP_MIN,TRP_ARR_MIN,TRPDUR,ACTDUR,TRIPDIST,OTRACT,DTRACT,OMCD,DMCD,OZIP,DZIP,UNIQUEID1,UNIQUEID2,HH1,HH_WHT2,TOURFAC,WHT_FAC3,HCOUNTY,HCITY_MCD,HSTATE,HZIP,HNYC,HMPO,ONYC,OMPO,DNYC,DMPO,GEO_GROUP1_O,GEO_GROUP2_O,GEO_GROUP3_O,GEO_GROUP1_D,GEO_GROUP2_D,GEO_GROUP3_D,ADJ_COUNTY,OCOUNTY,DCOUNTY
0,30000560102,3000056,1,2,1,2,6,0,1,1,1,1,3,2626,9001205100,2626,2627,0,3,24,0,9,0,5,1.0,9.0,1,0,0,0,0,0,0,0,2,1,1,1,2,,0,2,0,0,,,,,0,0,,,,,0,0,,,,,0,,,0,0,,0,0,,,7,7,29,36,7,59,1.17447,9001205100,9001205200,900108980,900108980,6804,6804,3.000060e+12,3.000060e+12,1510.0,1846.72807,1.156645,2136.008377,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,1,9001,9001
1,30000560103,3000056,1,3,0,2,6,1,2,2,2,1,3,2626,9001205100,2627,2626,0,24,3,9,0,0,5,1.0,9.0,1,0,0,0,0,0,0,0,2,0,0,0,0,,0,2,0,0,,,,,0,0,,,,,0,0,,,,,0,,,0,0,,0,0,,,8,8,35,42,7,235,1.17447,9001205200,9001205100,900108980,900108980,6804,6804,3.000060e+12,3.000060e+12,1510.0,1846.72807,1.156645,2136.008377,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,1,9001,9001
2,30000560104,3000056,1,4,1,2,6,0,1,1,1,2,3,2626,9001205100,2626,2627,0,3,9,0,1,0,5,1.0,9.0,1,0,0,0,0,0,0,0,2,1,1,1,2,,0,2,0,0,,,,,0,0,,,,,0,0,,,,,0,,,0,0,,0,0,,,12,12,37,45,8,152,1.17447,9001205100,9001205200,900108980,900108980,6804,6804,3.000060e+12,3.000060e+12,1510.0,1846.72807,0.732451,1352.636918,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,1,9001,9001
3,30000560105,3000056,1,5,0,2,6,1,2,2,2,2,3,2626,9001205100,2627,2626,0,9,3,1,0,0,5,2.1,9.0,2,1,5,0,0,0,0,0,2,0,0,0,0,,0,2,0,0,,,,,0,0,,,,,0,0,,,,,0,,,0,0,,0,0,,,15,15,17,24,7,176,1.17447,9001205200,9001205100,900108980,900108980,6804,6804,3.000060e+12,3.000060e+12,1510.0,1846.72807,0.732451,1352.636918,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,1,9001,9001
4,30000560106,3000056,1,6,1,2,6,0,1,1,1,3,3,2626,9001205100,2626,2628,0,3,25,0,9,0,5,2.1,9.0,3,2,5,6,0,0,0,0,2,1,1,1,2,,0,2,0,0,,,,,0,0,,,,,0,0,,,,,0,,,0,0,,0,0,,,18,18,20,29,9,36,1.00992,9001205100,9001205300,900108980,900108980,6804,6804,3.000060e+12,3.000060e+12,1510.0,1846.72807,1.126987,2081.238932,9001,BROOKFIELD TOWN,CT,6804,0,3,0,3,0,3,6,4,3,6,4,3,1,9001,9001

In [100]:
bronx = 36005
new_york = 36061
queens = 36081
staten = 36085
brooklyn = 36047
new_york = [bronx, new_york,queens, staten, brooklyn]
new_york

[36005, 36061, 36081, 36085, 36047]

__Subset for trips that either start or end within New York:__
 
Segments are cut down to 1/3, while trips are cut down to 1/4

In [101]:
#UNLINKED_NYC = UNLINKED_Public.loc[(UNLINKED_Public['ONYC'] == 1)&(UNLINKED_Public['DNYC'] == 1)]
LINKED_NYC = LINKED_Public.loc[(LINKED_Public['ONYC'] == 1)&
                               (LINKED_Public['DNYC'] == 1)]
#print("Unlinked Public Original:",UNLINKED_Public.shape)
#print("Unlinked Public NYC:",UNLINKED_NYC.shape)
print("Linked Public Original:",LINKED_Public.shape)
print("Linked Public NYC:",LINKED_NYC.shape)

def where_activity(data,activity,o_borough):
    if o_borough == 36005:
        borough = "Bronx"
    elif o_borough == 36061:
        borough = "Manhattan"
    elif o_borough == 36081:
        borough = "Queens"
    elif o_borough == 36085:
        borough = "SI"
    elif o_borough == 36047:
        borough = "Brooklyn"
        
    df = data.loc[(data['OTPURP'] == activity)&
                  (data['OCOUNTY'] == o_borough)]
    
    size = df.shape[0]
    df.loc[(df['DCOUNTY'] == 36005, 'DCOUNTY')] = "Bronx"
    df.loc[(df['DCOUNTY'] == 36061, 'DCOUNTY')] = "Manhattan"
    df.loc[(df['DCOUNTY'] == 36081, 'DCOUNTY')] = "Queens"
    df.loc[(df['DCOUNTY'] == 36085, 'DCOUNTY')] = "SI"
    df.loc[(df['DCOUNTY'] == 36047, 'DCOUNTY')] = "Brooklyn"
    df = df.groupby(['DCOUNTY'])['DCOUNTY'].size().to_frame(name = 'from '+borough)
    df = df['from '+borough]/size
    return(df)

#df = LINKED_NYC.loc[(LINKED_NYC['OTPURP'] == 16)&
#                    (LINKED_NYC['OCOUNTY'] == 36005)]
#    df2 = df.groupby(['Courses'])['Courses'].count()
Bronx = where_activity(LINKED_NYC,16,36005)
Manhattan = where_activity(LINKED_NYC,16,36061)
Queens = where_activity(LINKED_NYC,16,36081)
SI = where_activity(LINKED_NYC,16,36085)
Brooklyn = where_activity(LINKED_NYC,16,36047)

origin_destination = pd.merge(Bronx, Manhattan, how='outer', on='DCOUNTY')
origin_destination = pd.merge(origin_destination, Queens, how='outer', on='DCOUNTY')
origin_destination = pd.merge(origin_destination, SI, how='outer', on='DCOUNTY')
origin_destination = pd.merge(origin_destination, Brooklyn, how='outer', on='DCOUNTY')

origin_destination

Linked Public Original: (143925, 139)
Linked Public NYC: (34395, 139)

           from Bronx  from Manhattan  from Queens  from SI  from Brooklyn
DCOUNTY
Bronx        0.954545        0.030457     0.002364      NaN            NaN
Brooklyn     0.003497        0.022843     0.014184  0.00625       0.962121
Manhattan    0.034965        0.931472     0.021277      NaN       0.015152
Queens       0.006993        0.012690     0.962175      NaN       0.011364
SI                NaN        0.002538          NaN  0.99375       0.011364

__Overall, what are the characteristics of the grocery trips?__

As expected, each borough starts and ends generally in the same borough. It looks like we may need to zoom into smaller units of analysis?

In [102]:
def where_activity_matrix(activity):
    Bronx_matrix = where_activity(LINKED_NYC,activity,36005)
    Manhattan_matrix = where_activity(LINKED_NYC,activity,36061)
    Queens_matrix = where_activity(LINKED_NYC,activity,36081)
    SI_matrix = where_activity(LINKED_NYC,activity,36085)
    Brooklyn_matrix = where_activity(LINKED_NYC,activity,36047)

    origin_destination_matrix = pd.merge(Bronx_matrix, Manhattan_matrix, how='outer', on='DCOUNTY')
    origin_destination_matrix = pd.merge(origin_destination_matrix, Queens_matrix, how='outer', on='DCOUNTY')
    origin_destination_matrix = pd.merge(origin_destination_matrix, SI_matrix, how='outer', on='DCOUNTY')
    origin_destination_matrix = pd.merge(origin_destination_matrix, Brooklyn_matrix, how='outer', on='DCOUNTY')

    return(origin_destination_matrix)

restaurant = where_activity_matrix(21)
restaurant

           from Bronx  from Manhattan  from Queens   from SI  from Brooklyn
DCOUNTY
Bronx        0.883495        0.018054     0.011299       NaN            NaN
Brooklyn     0.009709        0.053159     0.016949  0.061538       0.887029
Manhattan    0.077670        0.882648     0.045198  0.015385       0.071130
Queens       0.029126        0.042126     0.926554       NaN       0.033473
SI                NaN        0.004012          NaN  0.923077       0.008368

It seems that eating out has the same pattern as well. Many people from the Bronx go to Manhattan. Very few people from Manhattan eat out in the Bronx, but will go to Queens or Brooklyn instead. Maybe this means that the Bronx is rather isolated in terms of their business vitality?

In [103]:
groceries = where_activity_matrix(16)
restaurant = where_activity_matrix(21)
work = where_activity_matrix(1)
work

           from Bronx  from Manhattan  from Queens   from SI  from Brooklyn
DCOUNTY
Bronx        0.741935        0.031746          NaN       NaN            NaN
Brooklyn     0.032258        0.023810     0.037975       NaN       0.759615
Manhattan    0.193548        0.928571     0.354430  0.208333       0.221154
Queens       0.032258        0.015873     0.607595  0.041667       0.019231
SI                NaN             NaN          NaN  0.750000            NaN

People go into Manhattan for work. Duh.

In [107]:
school = where_activity_matrix(12)
school

           from Bronx  from Manhattan  from Queens   from SI  from Brooklyn
DCOUNTY
Bronx        0.940476        0.101504     0.022222       NaN            NaN
Manhattan    0.038690        0.716165     0.016667       NaN       0.020576
Queens       0.020833        0.069549     0.925000       NaN       0.030864
Brooklyn          NaN        0.093985     0.033333  0.012048       0.932099
SI                NaN        0.018797     0.002778  0.987952       0.016461

People also generally stick to their borough. Although it also looks like many people LEAVE Manhattan to go to school? That's strange. Maybe that's because people cannot afford to go to school in Manhattan?